@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*:not(body){
  overflow-y: hidden;
}

html{
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
